.container {
    padding: 0;
}

/*cols*/

h1 {
    display: none;
}

/*MOBILE*/

/*NAVBAR*/

.navbar-header {
    background-image: url(../images/palm.jpg);
}

h2 {
    margin: 0px;
    margin-top: 8px;
    padding-left: 10px;
    font-family: "Purisa";
    font-weight: bolder;
    background-color: rgba(219, 219, 219, 0.43);
}

.navbar-toggle {
    background-color: #333;
}

.navbar {
    margin-bottom: 0;
}

/*search in navbar//*/

#myNavbar > div:nth-child(2) > input:nth-child(1) {
    width: 85%;
    background-color: rgb(212, 212, 212);
    color: white;
}

#myNavbar > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

#search {
    background-color: rgb(111, 111, 111);
    color: white;
}

/*FORM*/

h3 {
    background-image: url(../images/seigaiha.jpg);
    text-align: center;
    font-family: "Purisa";
    font-weight: bolder;
    padding: 0.5em 0;
    margin: 0;
}

#myForm {
    padding: 0.75em;
}
