html {
  height: 100%;
}

body {
    background-color: #E7E5D9;
    position: relative;
    margin: 0;
    min-height: 100%;
}

.container {
    padding: 0;
}

h1 {
    display: none;
}

/*MOBILE*/
/*NAVBAR*/

.navbar-header {
    background-image: url(../images/palm.jpg);
}

.navbar-header h2 {
    margin: 0px;
    margin-top: 8px;
    padding-left: 10px;
    font-family: "Purisa";
    font-weight: bolder;
    background-color: rgba(219, 219, 219, 0.43);
}

.navbar {
    margin: 0;
}

.navbar-toggle {
    background-color: #333;
}


/*main*/

.slidesjs-next, .slidesjs-previous, .slidesjs-stop {
    display: none !important;
}
h3 {
    background-image: url(../images/seigaiha.jpg);
    text-align: center;
    font-family: "Purisa";
    font-weight: bolder;
    padding: 0.5em 0;
    margin: 0;
}
main p {
    margin: 2em 0;
    padding: 0.5em;
    text-align: justify;
}
#slides, .container > main:nth-child(4) > p:nth-child(2) {
    padding: 0.5em;
    background-color: rgb(247, 242, 231);
}


/*search in navbar//*/

.form-control {
    width: 85%;
    background-color: rgb(212, 212, 212);
    color: white;
}
.form-group {
    display: flex;
    justify-content: space-between;
}
#search {
    background-color: rgb(111, 111, 111);
    color: white;
}
.products {
    display: flex;
    justify-content: center;
}
a.btn {
    margin: 1em 0 3em 0;
}


/*FOOTER*/
.container footer {
    width: 100%;
    text-align: center;
    background-image: url(../images/palm.jpg);
    padding: 0.75em 0;
}
footer p {
    margin: 0;
    font-weight: bolder;
    background-color: rgba(219, 219, 219, 0.43);
}


/*CATALOGUE*/
.filtres {
    background-color: #3D3D3D;
    padding: 2em;
}
.produit {
    margin: 1em;
    /*padding: 1em;*/
}
.produit img {
    width: 30%;
    float: left;
    margin: 1em;
}
.produit p {
    padding: 1em;
    /*margin: 0;*/
}
.produit a {
    background-color: #3D3D3D;
    color: white;
    margin: 0;
}
/*PANIER*/
#panier p {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}
#panier a {
    font-style: none;
    color: #333333;
}
.fa-2x {
	font-size: 1.5em;
}
#panier h4 {
    display: block;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}
.total {
    font-weight: bold;
    font-size: 2em;
    text-align: right;
}


/*MOBILE */

@media screen and (max-width: 768px) {
    footer {
        bottom: 0;
        position: absolute;
    }

    h3 {
        width: 100%;
    }

    .row, div.col-sm-6 {
        padding: 0px !important;
        margin: 0px !important;
    }

    .col-sm-8 {
        padding: 0px !important;
        margin: 0px !important;
    }

    footer {
        bottom: 0;
        position: relative;
    }

}

/*TABLETTE*/

@media screen and (min-width: 769px) {

    .container {
        width: 100%;
    }

    div.produit > section {
        overflow: auto;
    }

    .row, .col-sm-8 {
        margin: 0px !important;
    }

    footer {
        bottom: 0;
        position: absolute;
    }
}

/*web */

@media screen and (min-width: 992px) {
    .container {
        width: 992px;
        margin: auto;
    }

    footer {
        bottom: 0;
        position: static;
    }

    .col-sm-8 {
        padding: 0px !important;
        margin: 0px !important;
    }


}
